:root {
    --orange: #f4854a;
    --green: #22afa6;
    --blue: #1175bc;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    width: 100%;
    height: auto;
    background-color: white;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding-left: 30px;
}

#header-buttons {
    border-radius: 25px;
    margin: 0;
    padding: 0;
    row-gap: 0;
    overflow: hidden;
}

ul li {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#signup {
    background-color: var(--orange);
}

#availability {
    background-color: var(--green);
    margin-right: 0px;
}

#paybill {
    background-color: var(--blue);
    margin-left: 0px;
}

.numbers {
    height: 120px;
    width: 20%;
}

.numbers h5 {
    padding: 5px;
    display: inline-block;
}

.csr {
    color: var(--orange);
}

.csrnum {
    color: var(--blue);
}

/* NAV section */

nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    background-color: var(--blue);
}

/* MAIN AREA */

main {
    background-color: var(--orange);
    height: fit-content;
    padding-top: 20px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 100px;
    flex-wrap: wrap;
}

main h2 {
    color: var(--blue);
    background-color: white;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

footer {
    background-color: var(--blue);
    border-radius: 25px;
}